.navbar {

  width: 100%;

  height: 110px;

  padding: 0 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  position: fixed;

  top: 0;

  left: 0;

  z-index: 1000;

  background: rgba(15, 23, 42, 0.95);

  border-bottom:
    1px solid rgba(255,255,255,0.1);

  box-shadow:
    0 8px 30px rgba(145,94,255,0.35);

  backdrop-filter: blur(10px);

  -webkit-backdrop-filter:
    blur(10px);

}

.navbar::after {

  content: "";

  position: absolute;

  bottom: 0;

  left: 0;

  width: 100%;

  height: 2px;

  background: linear-gradient(
    90deg,
    #915EFF,
    #00ffff,
    #915EFF
  );

}

.logo {

  display: flex;

  align-items: center;

  gap: 16px;

  min-width: 320px;

  padding-left: 20px;

}

.profile-image {

  width: 85px;

  height: 85px;
  

  border-radius: 50%;

  object-fit: cover;

  border: 3px solid #5abbfb;
  

}

.profile-name {

  color: rgb(105,223,250);

  font-size: 1.6rem;

  font-weight: 700;

  text-shadow:
    0 0 10px rgba(143,70,245,0.7);

}

.nav-links {

  display: flex;

  gap: 35px;

  list-style: none;

  align-items: center;

}

.nav-links li {

  padding: 6px 8px;

  border-radius: 12px;

  cursor: pointer;

  transition: 0.3s;

}

.nav-links li:hover {

  transform:
    translateY(-5px)
    scale(1.08);

  background:
    rgba(145,94,255,0.15);

  border:
    1px solid rgba(145,94,255,0.4);

  box-shadow:
    0 8px 25px rgba(0,0,0,0.5);

}

.nav-links li a {

  text-decoration: none;

  color: white;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 6px;

  transition: 0.3s;

}

.nav-links li a:hover {

  color: #915EFF;

}

.nav-links svg {

  font-size: 1.2rem;

}

.resume-nav-btn {

  display: flex;

  align-items: center;

  gap: 6px;

  padding: 10px 18px;

  background: #915EFF;

  color: white;

  border-radius: 30px;

  text-decoration: none;

  transition: 0.3s;

}

.resume-nav-btn:hover {

  background: #00ffff;

  color: black;

  transform: translateY(-3px);

}

.menu-icon {

  display: none;

}

/* MOBILE */

@media (max-width: 768px) {

  .navbar {

    height: 85px;

    padding: 0 20px;

  }

  .logo {

    min-width: auto;

  }

  .profile-image {

    width: 55px;

    height: 55px;

  }

  .profile-name {

    font-size: 1rem;

  }

  .menu-icon {

    display: block;

    color: white;

    font-size: 1.8rem;

    cursor: pointer;

    z-index: 1100;

  }

  .nav-links {

    position: fixed;

    top: 85px;

    right: -100%;

    width: 260px;

    height: calc(100vh - 85px);

    background:
      rgba(15,23,42,0.98);

    flex-direction: column;

    justify-content: flex-start;

    align-items: center;

    padding-top: 40px;

    gap: 25px;

    transition: 0.4s ease;

  }

  .nav-links.active {

    right: 0;

  }

}